/* colours:
#74A534 -Green
#FFF4E3 -Beige
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #FFF4E3;
    font-family: monospace;
    margin: 0;
    font-weight: 300;
}


/*Header Stuff*/

header {
    background-color: #74A534;
}

.header-container {
    width: 80%;
    margin: 0 auto;
}

.SubJ-TopLeft {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav a {
    font-size: 16px;
    color: #2c3f14;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

nav a:hover {
    color: #defdb7;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 30px;
    padding-top: 45px;
}